@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", open-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  font-family: "Montserrat", open-sans;
  margin: 0;
  /* padding: 10px; */
}

body {
  background-color: bisque;
  position: relative;
  min-height: 100vh;
}
/* Header Styles */
.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 5%;
  top: 0%;
  /* margin-top: -1.1em; */
  display: flex;
  background: rgb(145, 124, 118);
  padding: 1em 1em;
  align-items: center;
  justify-content: space-between;
  opacity: 0.9;
}
.left-div {
  margin-left: 2em;
  box-sizing: border-box;
  /* border: 1px solid coral; */
  border-radius: 5px;
  padding: 3px;
  height: 50px;
  margin-top: -4em;
  /* background-color: darkcyan; */
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Montserrat", open-sans;
  color: bisque;
  text-align: center;
  text-shadow: 2px 4px darkkhaki;
}

.logo:hover {
  cursor: pointer;
  color: coral;
  text-shadow: 2px 4px rgb(241, 211, 199);
}

.search-container {
  flex-grow: 0.5;
  position: relative;
  display: flex;
}

.search-container input {
  background: #fff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 40px;
  width: 90%;
  font-size: 1.4rem;
  padding: 2px;
  padding-left: 1.5em;
  flex-grow: 1;
}
.search-container input:focus {
  outline: none;
}
.search-icon {
  height: 20px;
  position: absolute;
  top: 10px;
  left: 7px;
}
.search-btn {
  background-color: lightsalmon;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: black;
  border: 1px solid #d0d0d0;
  font-family: "Montserrat", open-sans;
  font-weight: bold;
  height: 40px;
  width: 20%;
  text-transform: uppercase;
}

.search-btn:hover {
  background-color: rgb(238, 112, 62);
  color: white;
  cursor: pointer;
}

.nav .right-nav {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 0.6rem;
}

.nav .nav_links ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  /* margin-right: 3em; */
  /* padding-right: 3em; */
}

.nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
}

#login,
#register {
  color: #fff;
}

.nav-links ul li {
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  display: inline-block;
  padding: 0.9em;
}

#register {
  margin: 0 5em 0 2em;
  padding: 0.8em;
  background-color: cornsilk;
  color: black;
  cursor: pointer;
  border-top: 0.5em solid skyblue;
  /* border-image: linear-gradient(to right, yellow, yellow);
  border-image-slice: 1;
  border-radius: 40%; */
  border-radius: 30%;
  border-left: 0.5em solid yellow;
  border-bottom: 0.5em solid greenyellow;
  border-right: 0.5em solid blue;
  /* border: 1em solid transparent;
  border-image: linear-gradient(to top, red 0%, blue 100%);
  border-image-slice: 1; */
}

#register ::before {
  content: "";
  display: block;
  box-sizing: border-box;
  height: 100%;
}

.nav-links ul li:hover,
#login:hover {
  text-decoration: underline;
  color: #d0d0d0;
  cursor: pointer;
}

#register:hover {
  background-color: azure;
}
/* Home Page Stylings */
.home-container {
  padding: 2em;
  padding-top: 5em;
  padding-bottom: 20em;
}

.load-btn-container {
  text-align: center;
  padding: 1.3em;
}

.load-btn {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.6em;
  background-color: coral;
  border: 1px solid darksalmon;
  box-sizing: border-box;
  color: aliceblue;
  border-radius: 6px;
}

.load-btn:hover {
  background-color: rgb(133, 55, 27);

  border: 2px solid rgb(105, 54, 37);
}

/* Item Style */
.item-container {
  background-color: cornsilk;
  box-sizing: border-box;
  border: 1px solid #b8b7b7;
  border-radius: 5px;
}

.upper-container {
  height: 40%;
  text-align: center;
  justify-content: center;
}
.upper-container:hover {
  cursor: pointer;
  opacity: 0.8;
}
.image-container {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  background-color: honeydew;
  background-size: contain;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.image-container > img {
  /* width: /; */
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-fav {
  position: absolute;
  top: 1%;
  right: 1%;
}

.add-fav-text {
  display: none;
  position: absolute;
  top: 2%;
  background-color: white;
  right: -5%;
  padding: 2px;
  border-radius: 4px;
}

.icon-fav:hover {
  cursor: pointer;
  /* box-shadow: 1px 1px 2px 3px rgb(238, 112, 62); */
}
.icon-fav:hover + .add-fav-text {
  display: block;
}
.lower-container {
  padding-left: 10px;
  text-align: start;
}

.lower-container > h3 {
  padding: 2px;
  margin: 0;
  margin-top: 5px;
  color: burlywood;
  text-overflow: none;
}

.lower-container > p {
  padding: 3px;
  margin-top: 2px;
  color: rgb(167, 156, 142);
  text-overflow: hidden;
  max-lines: 1;
  max-width: 30ch !important;
}
.item-footer-list {
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.item-footer-list > li {
  display: inline-block;
  padding: 10px;
}

/* Sub Footer Styles */

.sub-footer {
  background-color: darkgrey;
  margin: 0;
}

.sub-footer-main-list {
  padding: 5px;
  margin: 0;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  list-style-type: none !important;
}

.sub-footer-main-list > li {
  display: inline-block !important;
  padding: 10px;
}

.sub-footer-sub-list {
  list-style-type: none;
  padding: 2px;
  margin: 0;
}

.sub-footer-sub-list li:hover {
  cursor: pointer;
  color: #584242;
}

.sub-footer-sub-list > li > h4 {
  text-transform: uppercase;
}
.sub-footer-sub-list > li > h4:hover {
  cursor: default;
  color: black;
}

/* Footer Styles */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
}
.footer-container {
  margin: 0;
  background-color: rgb(44, 44, 102);
}

.footer-list {
  list-style-type: none;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 0;
}

.footer-list li {
  padding: 10px;
  color: antiquewhite;
}

/* Product Info Page */
.product-info-container {
  margin-left: 10em;
  margin-right: 10em;
  padding-bottom: 20em;
}
.product-tags-list {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  padding-top: 5em;
  list-style-type: none;
}

.product-tags-list > li > h4 {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.product-tags-list li {
  display: inline-block;
  padding: 0.4em;
  color: blue;
}

.product-tags-list > li > h4 {
  color: black;
}

.product-info-section {
  padding: 2em;
  display: flex;
  flex-direction: row;
}

.left-section {
  width: 70%;
}

.product-image-container {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  width: inherit;
  display: flex;
  justify-content: center;
  position: relative;
  background-size: contain;
  background-color: honeydew;
}

.product-image-container > img {
  background-size: contain;
  width: inherit;
  border-radius: 5px;
  height: inherit;
}

.prev-icon {
  position: absolute;
  left: 2%;
  top: 50%;
}

.next-icon {
  position: absolute;
  right: 2%;
  top: 50%;
}

.image-count {
  position: absolute;
  right: 3%;
  top: 90%;
}

.icon:hover {
  cursor: pointer;
}

.product-description-container {
  padding: 0.7em;
  margin-top: 1.2em;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  width: inherit;
  height: max-content;
  background-color: honeydew;
}

.product-description {
  font-family: "Montserrat", open-sans;
  font-size: 0.9rem;
  font-weight: 400;
}

.right-section {
  width: 20vw;
}

.product-details {
  box-sizing: border-box;
  border: 1px solid rgb(90, 89, 89);
  border-radius: 5px;
  background-color: honeydew;
  padding: 0.5em;
  width: 100%;
  margin: 0;
  position: relative;
}

.product-like-icon {
  position: absolute;
  right: 3%;
  top: 5%;
}

.seller-description {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(90, 89, 89);
  border-radius: 5px;
  background-color: honeydew;
  padding: 0.5em;
  margin-top: 1.5em;
}

.seller-description > h3 {
  text-align: start;
}

.seller-details-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}

.seller-details-list li {
  padding: 10px;
  display: inline-block;
}
/* 
.circle-avatar {
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-size: cover;
} */

.seller-profile-image {
  border: 3px solid black;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  background-size: cover;
}

.seller-name {
  width: 70%;
  margin: 0;
  padding: 0;
}

.seller-name > h5 {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.seller-name p {
  font-size: 0.8rem;
}

.seller-details-list:hover {
  opacity: 0.8;
}

.to-chat-btn {
  width: 100%;
  padding: 0.6em;
  color: #fff;
  background-color: forestgreen;
  font-family: "Montserrat";
  border: 1px solid peachpuff;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.3em;
}

.to-chat-btn:hover {
  background-color: lightpink;
  color: aliceblue;
  border: 2px solid pink;
}

.ad-details {
  display: flex;
  margin-top: 2px;
  padding: 1px;
  justify-content: space-between;
}

.ad-details li {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Montserrat", open-sans;
  color: #7c7c7c;
}

#report-ad:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #b8b7b7;
}

/* Chat Page Styles */
.chat-page {
  margin: 0 10em;
  width: 80%;
  border: 1px solid gainsboro;
  border-radius: 6px;
  margin-top: 7em;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.chat-left-section {
  display: inline-block;
  width: 40%;
  height: 80vh;
  background-color: honeydew;
  border-right: 1px solid gainsboro;
  margin: 0;
  padding: 0;
  border-top-left-radius: 7px;
}

.inbox {
  padding: 1em;
  background-color: gainsboro;
  border: 1px solid rgb(78, 78, 78, 0.3);
  border-right: none;
  border-top-left-radius: 7px;
}

.inbox > h1 {
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}

.quick-filters {
  padding: 1em;
}
.quick-filters > p {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.filters-list {
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding: 0;
  margin-top: 0.8em;
}

.filters-list li {
  display: inline-block;
  background-color: lavender;
  padding: 0.5em;
  margin-left: 1em;
  border: 0.5px solid lightslategrey;
  border-radius: 2em;
  font-size: 0.8rem;
  cursor: pointer;
}

.chat-users-list {
  overflow-y: scroll;
  height: 70%;
}

.chat-profile {
  max-height: 300px;
  /* overflow-y: scroll; */
}

.chat-profile-user {
  border-bottom: 0.6px solid rgb(91, 96, 102, 0.3);
  cursor: pointer;
}

.chat-profile-user li {
  margin: auto 0;
}
#chat-delete-user-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

#chat-delete-user-icon:hover {
  opacity: 0.7;
}

.chat-right-section {
  margin: 0;
  display: inline-block;
  width: 61%;
  height: 80vh;
  background-color: gainsboro;
  padding: 0;
}

.header-chat {
  margin: 0;
  padding: 1em;
  background-color: whitesmoke;
  border: 1px solid rgb(78, 78, 78, 0.3);
  border-top-right-radius: 7px;
}

.chat-user-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.1em;
  list-style-type: none;
  margin: 0;
}

.chat-user-header li {
  display: inline-block;
  margin: auto 0;
}

.hor-list-chat-header {
  display: flex;
  justify-content: flex-start;
  padding: 0 0.4em;
}

.hor-list-chat-header li {
  display: inline-block;
  padding: 0 0.5em;
  margin: auto 0;
}

.chat-user-profile {
  border-radius: 10px;
  height: 50px;
  width: 60px;
}

.header-chat-icon {
  display: flex;
  justify-content: start;
  padding: 0 1em;
  margin: auto 0;
}

.header-chat-icon li {
  display: inline-block;
  padding-right: 1em;
  margin-right: 0.8em;
  cursor: pointer;
}

#imp-flag {
  height: 25px;
  width: 25px;
}
#delete-icon {
  height: 25px;
  width: 25px;
}

.header-chat-icon li:hover {
  opacity: 0.7;
}

.realtime-chat {
  width: 100%;
  height: 77.5%;
  background-color: lightyellow;
  padding: 0;
  margin: 0;
  border-top: 1px solid gainsboro;
  overflow-y: scroll;
}

.type-chat {
  display: flex;
  width: 100%;
  justify-content: start;
  padding: 0;
  margin: 0;
  border: 0.6px solid hsl(0, 4%, 10%);
}

.type-chat > input {
  padding: 0.5em;
  width: 90%;
  font-size: 1.1rem;
  font-family: "Montserrat", Open-sans;
  font-weight: w500;
  border: none;
  border-right: 0.4px solid black;
}

.type-chat > input:focus {
  border: none;
}

.send-icon {
  display: inline-block;
  width: 10%;
  background-color: lightgreen;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.send-icon:hover {
  background-color: lime;
  lighting-color: lime;
}

#send-chat-icon {
  height: 30px;
  width: 80%;
  color: rgb(61, 61, 185);
  margin: auto;
  padding: 0.4em;
}

.chat-users-list::-webkit-scrollbar,
.realtime-chat::-webkit-scrollbar {
  display: none;
}

/* .realtime-chat > div {
  margin-top: 1em;
} */
.chat-messages {
  padding: 0.3em;
}

.other-chat {
  background-color: lightgreen;
  position: relative;
  left: 2%;
}

.self-chat {
  background-color: lightskyblue;
  position: relative;
  right: 2%;
  left: 78%;
}

.chat-bubble {
  border: 0.7px solid lightpink;
  padding: 1em;
  font-size: 0.7rem;
  font-family: "Montserrat", open-Sans;
  font-weight: w400;
  display: inline-block;
  border-radius: 8px;
  max-width: 20ch;
  overflow-y: visible;
  color: black;
}

.chat-bubble > span {
  padding: 0.5em;
  font-size: 0.5rem;
  color: hsla(0, 0%, 0%, 0.842);
  font-weight: w500;
}

.sized-box {
  height: 1em;
  width: 100%;
  opacity: 0;
}

/* login page stylings */
.login-full {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: navajowhite;
  display: flex;
  align-content: center;
  justify-content: center;
}
.login-page {
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1.2px solid gainsboro;
  border-radius: 15px;
  margin-top: 10em;
  padding: 0.8em;
  background-color: whitesmoke;
}

.login-logo-image {
  height: 200px;
  width: 80%;
  border: 1px solid green;
  border-radius: 7px;
  margin: 1em;
}
.login-logo-image {
  height: 300px;
  width: 80%;
  object-fit: cover;
}

.login-options {
  padding: 0.7em;
  display: grid;
  grid-gap: 1em;
}
.login-with {
  padding: 0.6em 1.6em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 0.6px solid darkcyan;
  border-radius: 14px;
  background-color: darkcyan;
  cursor: pointer;
  background: linear-gradient(to left, darkcyan 50%, salmon 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.login-with-google {
  grid-area: 1 1 2 4;
}

.login-with-github {
  grid-area: 2 1 3 4;
}
.login-with > p {
  display: inline-block;
  text-align: center;
  margin: auto 0;
  color: wheat;
  font-weight: 550;
  font-family: "Montserrat";
}
.icon-login {
  height: 20px;
  width: 25px;
  margin: auto 0;
  margin-right: 0.4em;
  padding: 3px;
  color: wheat;
}

.login-with:hover {
  background-position: left;
  font-weight: 600;
  border: 0.6px solid gainsboro;
}

/* User Profile */
.user-profile {
  margin: 6em 5em;
  height: 100%;
  width: 90%;
}

.upper-profile-container {
  width: 100%;
  display: flex;
  justify-content: start;
}

.image-container-profile {
  height: 200px;
  width: 200px;
  border: 1px dotted black;
  border-radius: 50%;
}

.user-profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.user-details-profile > h3 {
  text-transform: capitalize;
  margin: 0;
  padding: 0.7em;
}

.user-details-profile > p {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 0.45em;
}

h4 {
  margin: 0;
  padding: 0.7em;
}

.linked-accounts-profile {
  display: flex;
  justify-content: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linked-accounts-profile li {
  margin: 0;
  padding: 0.6em 2em;
}

#google-icon-profile,
#mail-icon-profile {
  height: 25px;
  width: 25px;
}

.upper-right-user-profile {
  width: 100%;
}

.followers-following-profile {
  padding-top: 1em;
}

.followers-following-list-profile {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.followers-profile-num,
.following-profile-num {
  list-style-type: none;
  text-align: center;
}

.followers-profile-num li,
.following-profile-num li,
.divider-profile {
  font-size: 0.8rem;
  font-weight: 400;
  color: #7c7c7c;
}

.divider-profile {
  font-size: 3rem;
  color: #a8a5a5;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

#following-number,
#followers-number {
  font-size: 2.5rem;
  font-weight: 400;
  color: black;
  font-family: "Montserrat";
}

.edit-profile-btn {
  width: 90%;
  margin: 1em auto;
  text-align: center;
  border: 1px solid black;
  background-color: honeydew;
  padding: 0.2em;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Montserrat";
  cursor: pointer;
  border-radius: 7px;
}

.edit-profile-btn:hover {
  border-width: 4px;
  padding: 0.01em;
}

.lower-profile-container {
  margin: 0 16em;
  padding: 1.1em;
  width: 75%;
  min-height: 70%;
  background-color: beige;
  border-radius: 8px;
}
.lower-profile-container > h3 {
  border-bottom: 2px solid darkcyan;
  border-radius: 8px;
  padding: 0.3em;
}
.personal-details-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.personal-details-list li {
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 1.1rem;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  padding-right: 4em;
}

.personal-details-list li span {
  font-weight: 400;
}

/* Post Ad Page Stylings */
.default {
  width: 100%;
  height: 100%;
}
.post-ad-page {
  height: 20%;
  margin: 5em 15em;
  padding: 2em;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 20px;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
h2::after {
  content: "______ _ _";
  color: aqua;
  margin-left: -2em;
}

.input-field {
  padding: 0.4em;
}

.label {
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 1.2rem;
}

.item-name,
.item-price,
.item-tags,
.state-input,
.city-input,
.item-details,
.item-description {
  width: 70%;
  max-lines: 4;
  padding: 1em;
  font-size: 0.9rem;
  border-radius: 10px;
}

.item-name:focus,
.item-price:focus,
.item-tags:focus,
.state-input:focus,
.city-input:focus,
.item-details:focus,
.item-description:focus {
  outline: none;
}

.main-product-details,
.price-details-container,
.location-container,
.upload-image-container {
  border: 1px solid black;
  background-color: ghostwhite;
  padding: 0.7em;
  border-radius: 20px;
  text-align: center;
  margin: 1em;
}

.confirm-post-container {
  border: 1px solid black;
  background-color: ghostwhite;
  padding: 0.7em;
  border-radius: 20px;
  margin: 1em;
  font-size: 1.2rem;
  font-weight: 500;
}
.confirm-post-container > input {
  width: fit-content;
  margin-right: 1em;
}

.upload-image-container input * {
  border: 1px solid olive;
  height: 200px;
}

.post-btn {
  border: 1px solid orangered;
  border-radius: 10px;
  text-align: center;
  width: 20%;
  margin: auto;
  padding: 0.5em;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: orangered;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
      to left,
      orangered 50%,
      hsla(184, 91%, 50%, 0.616) 50%
    )
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.post-btn:hover {
  background-position: left;
  border: 1px solid hsla(184, 91%, 50%, 0.616);
}

.item-name,
.item-price,
.item-tags,
.state-input,
.city-input {
  max-lines: 1;
  max-width: 49ch;
}

.item-description {
  max-lines: 8;
  max-width: 1024ch;
}

.item-details {
  max-lines: 12;
  max-width: 2048ch;
}
